.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.container {
  width: 100%;
  margin: 1rem;
  padding: 2rem;
}

.cardContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  display: flex;
  position: relative;
}

.imgContainer {
  width: 14rem;
  height: 20rem;
  z-index: 1;
}

.img {
  width: inherit;
  height: 20rem;
  object-fit: fill;
  box-shadow: 0 0 20px -10px black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.img:hover {
  transform: translate(-0.5rem, 0) scale(1.01);
  -webkit-transform: translate(-0.5rem, 0) scale(1.01);
  -moz-transform: translate(-0.5rem, 0) scale(1.01);
  -ms-transform: translate(-0.5rem, 0) scale(1.01);
  -o-transform: translate(-0.5rem, 0) scale(1.01);
}

.cardDetails {
  width: 16rem;
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 0 20px -10px black;
  padding: 0 2rem;
  position: relative;
  left: -14rem;
  transition: all 0.1s step-end;
  -webkit-transition: all 0.1s step-end;
  -moz-transition: all 0.1s step-end;
  -ms-transition: all 0.1s step-end;
  -o-transition: all 0.1s step-end;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cardDetails:hover {
  position: relative;
  left: -1rem;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  margin: 0.3reem;
}

.nameAs {
  color: rgb(196, 189, 189);
}

.bio {
  width: fit-content;
}

.icon {
  color: rgb(28, 134, 255);
  font-size: xx-large;
  margin: 1rem 0;
  cursor: pointer;
}

.eye {
  color: rgb(28, 134, 255);
  font-size: x-large;
  transform: translate(12.2rem, 1.8rem);
  -webkit-transform: translate(12.2rem, 1.8rem);
  -moz-transform: translate(12.2rem, 1.8rem);
  -ms-transform: translate(12.2rem, 1.8rem);
  -o-transform: translate(12.2rem, 1.8rem);
  cursor: pointer;
}
.eye:hover {
  color: rgb(177, 212, 252);
}

@media only screen and (max-width: 554px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
  }
  .card {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 28em;
    height: 18rem;
    margin: 2rem 0;
    display: flex;
  }

  .imgContainer {
    width: 14rem;
    height: 20rem;
  }
}
