.dropdown_btn {
  background-color: rgb(50, 255, 50);
  border: none;
  width: 12rem;
  height: 2rem;
}

input[type='text'] {
  border: none;
  outline: none;
  width: 10rem;
  height: 1rem;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/500px-Search_Icon.svg.png');
}

.content {
  display: flex;
  flex-direction: column;
  background-color: rgb(184, 184, 184);
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: fit-content;
  display: none;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
